body {
        font-family: sans-serif;
      }
      h1 {
        text-align: center;
        padding: 20px;
        background: darkblu;
      }
      form {
        margin: 30px auto;
        padding-left: 5px;
      }
      #current-date {
        color: white;
        font-size: 16px;
        margin-left: 85px;
      }
      .container {
        background: rgb(55, 130, 149);
        color: white;
      }
      h2 {
        margin: 50px 0;
        padding-left: 5px;
      }
      .left-data {
        margin-bottom: 15px;
      }
      .left-emoji {
        margin: 10px;
        font-size: 60px;
      }
      .left-temp {
        font-size: 30px;
        color: white;
      }
      a {
        text-decoration: none;
      }
      .data {
        padding-left: 5px;
        margin-top: 10px;
      }
      .data-time {
        /* color:rgba(128, 128, 128,) */
        font-size: 14px;
      }
      .data-day {
        font-weight: 600;
      }
      .data-emoji {
        font-size: 35px;
      }
      footer {
        font-size: 14px;
        text-align: center;
        padding: 30px;
      }